
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@500&display=swap');
/* Provide sufficient contrast against white background */
a {
    color: #126677;
}

#surveyElement {
    --primary: #343c9c;
    --background: #F5F5F5;
    --background-dim: white;
    --background-dim-light: white;
    --primary-foreground: #ffffff;
    --foreground: #343c9c;
    --base-unit: 8px;
}
.ojo:hover{
    cursor: pointer;
    color: rgb(48, 63, 159);
}


.sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 50px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: relative;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

a:hover {
    color: #17A797;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    background-color: #F5F5F5;
    margin-bottom: 60px;
}

.h6 {
    font-size: 10px;
}

.btna {
    font-size: 16px;
    margin-right: 1vw;
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

.footer {
    padding-top: 3%;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    background-color: #303F9F;
    color: white;
    border-block-color: #449FC7;
}

.primary {
    margin-left: 180px;
    font-size: 16px;
    width: auto !important;
}




nav {
    background-color: white;
    color: #303F9F;
    height: 75px;
    width: 100vw;
}

main {
    margin-top: -13px;
    background-color: #F5F5F5;
    width: 100vw;
}

.container {
    width: 90vw;
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    padding: 30px;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
}

thead {
}

.secuencia {
    width: 50%;
    margin-left: 25%
}

.botones {
    background-color: #536DFE;
    width: 110px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
    margin-bottom: 60px;
}

    .botones:hover {
        background-color: #84A5FE;
        width: 130px;
        height: 50px;
        color: white;
        border-color: #536DFE;
        font-size: 18px;
        color: white;
    }

.btn_insert {
    background-color: #536DFE;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
}

    .btn_insert:hover {
        background-color: #84A5FE;
        color: white;
        border-color: #536DFE;
        font-size: 18px;
        color: white;
    }

.titulo2 {
    color: white;
    font-size: 15px;
    text-align: center;
}

table {
    border-color: #F5F5F5;
    padding-top: 2vh !important;
    margin-bottom: 1vh !important;
    font-family: 'Nunito', sans-serif;
    color: #303F9F;
    font-size: 14px;
}

    table thead {
        background-color: #303F9F;
        font-family: 'Nunito', sans-serif;
        color: white;
    }

     table.dataTable thead th {
    color: white !important;
    background-color: #303F9F !important;
}

table th {
    background-color: #303F9F !important;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 16px;
}

table tr {
    border-style: solid;
    border-width: 0px 0px 10px 0px;
    border-color: #F5F5F5;
    height: 35px;
    align-items: center;
    vertical-align: middle;
}

table td {
    border-style: solid;
    border-width: 10px 0px 10px 0px;
    border-color: #F5F5F5;
    height: 35px;
    align-items: center;
    vertical-align: middle;
}


/*PAGINATION*/

span .paginate_button {
    border-radius: 50% !important;
}

.paginate_button {
    border-radius: 10px !important;
}

span .paginate_button:hover {
    background: #536DFE !important;
    border-color: #536DFE !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background: #536DFE !important;
    border-color: #536DFE !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    background: #536DFE !important;
    border-color: #536DFE !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    background: white !important;
    border-color: #fff !important;
}


/*FIN PAGINATION*/

/*.botones:hover{
    background-color: red
}
*/
.etiquetas {
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    color: #757575;
    font-weight: 300;
}

.texto {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}



#botonasignarpregunta{
    float:right;
}


.wrapper {
    max-width: 1450px;
    width: 100%;
    margin: 30px auto 0;
    padding-left: 6vw;
    padding-right: 6vw;
}

    .wrapper .form_container {
        width: 95%;
        margin: 30px auto 0;
        background: #fff;
        padding: 30px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        border-top: 3px solid #BDBDBD;
        border-right: 3px solid #BDBDBD;
        border-bottom: 3px solid #BDBDBD;
        border-left: 3px solid #BDBDBD;
    }

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 5px;
}



.row-full {
    width: 105%;
    position: static;
    height: 85px;
    left: 50%;
    text-align: left;
    background-image: url('img/fondoazul.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 135%;
    color: white;
    font-size: 200%;
    padding-top: 1.2%;
    padding-left: 6%;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.inicio {
    background-image: url('img/banner3.jpeg');
    width: 100vw;
    height: 680px;
    position: static;
    margin-top: -16px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    color: white;
    font-size: 210%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.heading2 {
    height: 50px;
    width: 100%;
    text-align: center;
    color: #303F9F;
    font-size: 160%;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 35px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #BDBDBD;
}

.head1 {
    height: 50px;
    width: 60%;
    text-align: left;
    color: #303F9F;
    font-size: 300%;
    font-family: 'Nunito', sans-serif;
    padding-top: 14vw;
    line-height: 90%;
    padding-left: 5vw;
    font-weight: bold;
}

.head2 {
    height: 50px;
    width: 60%;
    text-align: left;
    color: black;
    font-size: 75%;
    font-family: 'Roboto';
    padding-top: 9vw;
    padding-left: 5vw;
    font-weight: 100;
}

.wrapper .form_container .form_item {
    margin-bottom: 25px;
}

.form_wrap.fullname,
.form_wrap.select_box {
    display: flex;
}

    .form_wrap.fullname .form_item,
    .form_wrap.select_box .form_item {
        width: 50%;
    }

        .form_wrap.fullname .form_item:first-child,
        .form_wrap.select_box .form_item:first-child {
            margin-right: 4%;
        }

.wrapper .form_container .form_item label {
    display: grid;
    margin-bottom: 5px;
}

.form_item input[type="text"],
.form_item input[type="date"],
.form_item select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

    .form_item input[type="text"]:focus,
    .form_item input[type="date"]:focus,
    .form_item select:focus {
        outline: none;
        border: 1px solid #126677;
    }



/*hallazgos*/

.heading3 {
    color: #303F9F;
    text-align: center;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.heading4 {
    margin-left: 15px;
    border-radius: 3px;
    /*border: 1px solid #17A797;*/
    color: #303F9F;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.etiqueta {
    margin-right: 20px;
    margin-left: 20px;
}

.item1 input[type="text"],
.item1 input[type="date"],
.item1 select {
    margin-left: 10px;
    width: 150px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 30px;
    font-weight: lighter;
}

    .item1 [type="text"]:focus,
    .item1 input[type="date"]:focus,
    .item1select:focus {
        outline: none;
        border: 1px solid #126677;
    }
/*revisar*/
textarea {
    width: 700px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

.textarea2 {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

.botones2 {
    display: flex;
    justify-content: center;
}

.botones3 {
    width: 200px;
    padding: 10px;
    background-color: #126677;
    color: white;
}



.wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 5px;
}

.texto3 {
    margin-left: 10px;
    width: 150px;
}

.titulo3 {
    color: orangered;
    text-align: center;
}




.cont {
    box-shadow: none;
    background-color: #F5F5F5;
    height: 5px;
}


/*---------------------------------------------------------*/
/* media queries inicio*/
/*---------------------------------------------------------*/
@media only screen and (min-width:1360px) and (max-width:1500px) {

    .footer {
        padding-top: 3%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 60%;
        text-align: left;
        color: #303F9F;
        font-size: 290%;
        font-family: 'Nunito', sans-serif;
        padding-top: 14vw;
        line-height: 90%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 60%;
        text-align: left;
        color: black;
        font-size: 73%;
        font-family: 'Roboto';
        padding-top: 10vw;
        padding-left: 5vw;
        font-weight: 100;
    }


    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 210%;
        padding-top: 4vw;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }
}

@media only screen and (min-width:1205px) and (max-width:1359px) {
    .footer {
        padding-top: 4%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 70%;
        text-align: left;
        color: #303F9F;
        font-size: 270%;
        font-family: 'Nunito', sans-serif;
        padding-top: 14vw;
        line-height: 90%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 60%;
        text-align: left;
        color: black;
        font-size: 70%;
        font-family: 'Roboto';
        padding-top: 10vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 208%;
        padding-top: 4.2%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    thead {
        color: #303F9F;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}

@media only screen and (min-width:1095px) and (max-width:1204px) {
    .footer {
        padding-top: 4%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 70%;
        text-align: left;
        color: #303F9F;
        font-size: 240%;
        font-family: 'Nunito', sans-serif;
        padding-top: 15vw;
        line-height: 90%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 60%;
        text-align: left;
        color: black;
        font-size: 65%;
        font-family: 'Roboto';
        padding-top: 11vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 208%;
        padding-top: 4.5%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        width: 100vw;
        background: white;
        border-radius: 3px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        padding-top: 60px;
        padding-bottom: 30px;
        padding: 10px;
        margin-bottom: 30px;
        font-family: 'Nunito', sans-serif;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}

@media only screen and (min-width:1005px) and (max-width:1094px) {
    .footer {
        padding-top: 5%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 70%;
        text-align: left;
        color: #303F9F;
        font-size: 220%;
        font-family: 'Nunito', sans-serif;
        padding-top: 16vw;
        line-height: 90%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 60%;
        text-align: left;
        color: black;
        font-size: 60%;
        font-family: 'Roboto';
        padding-top: 12vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 205%;
        padding-top: 4.8%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .heading2 {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #303F9F;
        font-size: 150%;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 35px;
        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #BDBDBD;
    }

    .container {
        width: 100vw;
        background: white;
        border-radius: 3px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        padding-top: 60px;
        padding-bottom: 30px;
        padding: 10px;
        margin-bottom: 30px;
        font-family: 'Nunito', sans-serif;
    }

    thead {
        color: #303F9F;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}

@media only screen and (min-width:861px) and (max-width:1004px) {
    .footer {
        padding-top: 5%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 70%;
        text-align: left;
        color: #303F9F;
        font-size: 220%;
        font-family: 'Nunito', sans-serif;
        padding-top: 17vw;
        line-height: 90%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 60%;
        text-align: left;
        color: black;
        font-size: 60%;
        font-family: 'Roboto';
        padding-top: 13vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 202%;
        padding-top: 5.2%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .heading2 {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #303F9F;
        font-size: 150%;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 35px;
        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #BDBDBD;
    }

    .container {
        width: 150vw;
        background: white;
        border-radius: 3px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
        padding: 10px;
        margin-bottom: 30px;
        font-family: 'Nunito', sans-serif;
    }

    thead {
        color: #303F9F;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}

@media only screen and (min-width:759px) and (max-width:860px) {
    .footer {
        padding-top: 5%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 75%;
        text-align: left;
        color: #303F9F;
        font-size: 200%;
        font-family: 'Nunito', sans-serif;
        padding-top: 22vw;
        line-height: 90%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 60%;
        text-align: left;
        color: black;
        font-size: 55%;
        font-family: 'Roboto';
        padding-top: 13vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 202%;
        padding-top: 6.2%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .heading2 {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #303F9F;
        font-size: 148%;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 35px;
        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #BDBDBD;
    }

    .etiquetas {
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
        color: #757575;
        font-weight: 300;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}

@media only screen and (min-width:650px) and (max-width:758px) {
    .footer {
        padding-top: 6%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 80%;
        text-align: left;
        color: #303F9F;
        font-size: 190%;
        font-family: 'Nunito', sans-serif;
        padding-top: 22vw;
        line-height: 90%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 70%;
        text-align: left;
        color: black;
        font-size: 52%;
        font-family: 'Roboto';
        padding-top: 13vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 200%;
        padding-top: 6.5%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .heading2 {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #303F9F;
        font-size: 148%;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 35px;
        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #BDBDBD;
    }

    .etiquetas {
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
        color: #757575;
        font-weight: 300;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}

@media only screen and (min-width:575px) and (max-width:649px) {
    .footer {
        padding-top: 6%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 85%;
        text-align: left;
        color: #303F9F;
        font-size: 150%;
        font-family: 'Nunito', sans-serif;
        padding-top: 25vw;
        line-height: 85%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 80%;
        text-align: left;
        color: black;
        font-size: 50%;
        font-family: 'Roboto';
        padding-top: 19vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 200%;
        padding-top: 7.9%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .heading2 {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #303F9F;
        font-size: 125%;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 30px;
        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #BDBDBD;
    }

    .etiquetas {
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
        color: #757575;
        font-weight: 300;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}

@media only screen and (max-width:574px) {

    .footer {
        padding-top: 6%;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        background-color: #303F9F;
        color: white;
        border-block-color: #449FC7;
    }

    .head1 {
        height: 50px;
        width: 85%;
        text-align: left;
        color: #303F9F;
        font-size: 150%;
        font-family: 'Nunito', sans-serif;
        padding-top: 25vw;
        line-height: 85%;
        padding-left: 5vw;
        font-weight: bold;
    }

    .head2 {
        height: 50px;
        width: 80%;
        text-align: left;
        color: black;
        font-size: 50%;
        font-family: 'Roboto';
        padding-top: 19vw;
        padding-left: 5vw;
        font-weight: 100;
    }

    .row-full {
        width: 100vw;
        position: static;
        height: 150px;
        left: 50%;
        text-align: left;
        background-image: url('img/fondoazul.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 130%;
        color: white;
        font-size: 160%;
        padding-top: 12%;
        padding-left: 6%;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .heading2 {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #303F9F;
        font-size: 115%;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 25px;
        padding: 8px;
        font-weight: bold;
        border-bottom: 2px solid #BDBDBD;
    }

    .etiquetas {
        font-family: 'Roboto', sans-serif;
        font-size: 85%;
        color: #757575;
        font-weight: 300;
    }

    .cont {
        box-shadow: none;
        background-color: #F5F5F5;
    }
}
