@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@500&display=swap');
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.navbar-brand img {
    max-width: 11vw; /* find suitable value for you */
    display: block;
    width: 100%;
}
.titulo {
    color: white;
    padding-left: 1vw;
}

d-sm-inline-flex flex-sm-row collapse navbar-collapse {
    margin-top: -50px;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    max-height: 80vh;
    max-width: 50vh;
    overflow-y: auto;
    background-color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.navbar-expand-sm .navbar-collapse {
    margin-left: 56vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #303F9F;
    background-color: white;
    position: relative;
}

.textnav {
    color: #303F9F;
}

.mr-2 navbar-toggler {
    background-color: red;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.inicio .head1 {
    padding-top: 10vh !important;
}
.inicio .head2 {
   margin-top:10%;
}